<div class="r-body">
    <div class="container  mt-5">
        <div class="row mt-5">

            <div class="col-lg-4 shadow ct-form offset-lg-4">
                <h4 class="title-form mb-5">Log in</h4>

                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="onSubmit(formData)" #formData="ngForm">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username </label>
                        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Log in</button>
                    <div id="emailHelp" class="form-text mt-5">Don't have account yet. <a href=""> Join TheoryTube</a></div>
                </form>
            </div>
        </div>
    </div>

</div>