.has-search {
    width: 450px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.visitor {
    text-align: center;
}

.visitor .nb-visitor {
    font-size: 1.9em;
    color: #616161;
    font-weight: 600;
}

.visitor .desc-visitor {
    color: #c62828;
    font-size: 1.3em;
}

.visitor .star-vistor span:first-of-type {
    font-size: 1.2em;
}

.visitor .star-vistor span:last-of-type {
    color: #ffff00;
    font-size: x-large;
}

// video
.video {
    width: inherit;
}

.video iframe {
    height: 600px;
    width: 100%;
}

.title-video {
    color: #c62828;
}

.avis {
    text-align: center;
}

.avis h4 {
    font-weight: bold;
}

.avis span i {
    color: #ffff00;
}

.avis p {
    font-size: 0.9em;
}