 .ct-space-user {
     margin-top: 100px;
 }
 
 .ct-user {
     padding: 0px 20px 0px 20px;
 }
 
 // style side nav
 .side-nav li {
     list-style-type: none;
     padding: 10px;
     cursor: pointer;
 }
 
 .back-to-list {
     margin-left: 40px;
     margin-bottom: 100px;
 }
 
 .back-to-list a {
     text-decoration: none;
     margin-left: 20px;
     color: #212121;
     font-size: 0.9rem;
 }
 
 .side-nav li:hover {
     background-color: #e3f2fd;
     border-radius: 7px;
     color: #1976d2;
 }
 
 .side-nav li:hover a {
     color: #1976d2;
 }
 
 .side-nav li a {
     text-decoration: none;
     margin-left: 20px;
     color: #212121;
     font-size: 1.09rem;
     font-weight: 500;
 }
 
 .ct-video .title {
     font-size: 0.9rem;
     font-weight: bold;
 }
 
 @media only screen and (max-width: 575px) {
     /* Styles */
     .ct-video iframe,
     video {
         height: 300px;
     }
 }
 /* iPads (landscape) ----------- */
 
 @media only screen and (min-width: 576px) and (max-width: 767px) {
     .ct-video iframe,
     video {
         height: 400px;
     }
 }
 /* iPads (portrait) ----------- */
 
 @media only screen and (min-width: 768px) and (max-width: 991px) {
     /* Styles */
     .ct-video iframe,
     video {
         height: 350px;
     }
 }
 
 @media only screen and (min-width: 992px) and (max-width: 1199px) {
     /* Styles */
     .ct-video iframe,
     video {
         height: 270px;
     }
 }
 
 .ct-video iframe,
 video {
     width: 100%;
     //  height: 100%;
 }