<!-- nav bar 
  dropdown menu 
  logo
  search 
  user and name

-->


<div class="container">

    <!-- style="background-color: chartreuse;" -->
    <div class="row mt-5">

        <div class="offset-lg-3 col-lg-6">
            <div class="visitor" style="margin-top: 60px;">
                <span class="nb-visitor">1500</span>
                <p class="desc-visitor">
                    personen gingen jou voor en slaagden voor hun theorie-examen!
                </p>
                <div class="star-vistor">
                    <span> 5/5 (432 reviews) </span>
                    <span>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <!-- Full screen modal -->
            <!-- <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=Pw-0pbY9JeU&list=RDMMPw-0pbY9JeU&start_radio=1&ab_channel=twentyonepilots" allowfullscreen></iframe>
            </div> -->

            <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=Pw-0pbY9JeU&list=RDMMPw-0pbY9JeU&start_radio=1&ab_channel=twentyonepilots" allowfullscreen></iframe>
             -->
            <div class="video">
                <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
            </div>

            <h5 class="mt-2 title-video text-center">Dé plek met alle video’s om direct te slagen voor je theorie-examen!</h5>

        </div>
    </div>

    <div class="row mt-5">
        <h3 class="title-video text-center">Wat vindt de gebruiker van TheorieTube?
        </h3>

        <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <img src="..." class="d-block w-100" alt="..."> -->
                    <div class="row">

                        <div class="col-lg-3 avis">
                            <h4>Lisa uit Amsterdam</h4>
                            <span class="mt-3">  
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i></span>
                            <p class="mt-3">Lekker makkelijk en duidelijk! In 1 x geslaagd</p>
                        </div>

                        <div class="col-lg-3 avis">
                            <h4>Arjan uit Veenendaal</h4>
                            <span class="mt-3">  
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i></span>
                            <p class="mt-3">Handig! Goedkoop en effectief
                            </p>
                        </div>

                        <div class="col-lg-3 avis">
                            <h4>Ali uit Almere</h4>
                            <span class="mt-3">  
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i></span>
                            <p class="mt-3">Perfect! Top programma. Direct geslaagd</p>
                        </div>
                        <div class="col-lg-3 avis">
                            <h4>Nora uit Venlo</h4>
                            <span class="mt-3">  
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></span>
                            <p class="mt-3">Heel handig dit. Duidelijk en makkelijk. Veel goedkoper en beter dan een theoriecursus
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">

                        <div class="col-lg-3 avis">
                            <h4>Nora uit Venlo</h4>
                            <span class="mt-3">  
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i></span>
                            <p class="mt-3">Lekker makkelijk en duidelijk! In 1 x geslaagd</p>
                        </div>

                        <div class="col-lg-3 avis">
                            <h4>Ali uit Almere</h4>
                            <span class="mt-3">  
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i></span>
                            <p class="mt-3">Lekker makkelijk en duidelijk! In 1 x geslaagd</p>
                        </div>

                        <div class="col-lg-3 avis">
                            <h4>Arjan uit Veenendaal</h4>
                            <span class="mt-3">  
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i></span>
                            <p class="mt-3">Perfect! Top programma. Direct geslaagd</p>
                        </div>
                        <div class="col-lg-3 avis">
                            <h4>Lisa uit Amsterdam</h4>
                            <span class="mt-3">  
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></span>
                            <p class="mt-3">Heel handig dit. Duidelijk en makkelijk. Veel goedkoper en beter dan een theoriecursus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <h3 class="title-video text-center mb-4">Waarom TheorieTube?</h3>


        <div class="col-lg-3 why-choose">
            <h5 class="text-center">Geen boeken meer!
            </h5>
            <div class="mt-3 d-flex justify-content-center">
                <img src="../assets/img/open-book.png" alt="">
            </div>
            <p class="mt-3">Vanaf nu heb je geen boeken meer nodig, omdat je alle informatie in de video’s kunt vinden. Dit is ook nog eens goed voor het milieu! </p>
        </div>
        <div class="col-lg-3 offset-lg-1 why-choose">
            <h5 class="text-center">Geen peperdure theoriecursussen!
            </h5>
            <div class="mt-3 d-flex justify-content-center">
                <img src="../assets/img/classroom.png" alt="">
            </div>
            <p class="mt-3">Bekijk op je eigen tempo alle video’s. Pauzeren, terugspoelen én de video’s opnieuw bekijken. Dit bepaal jij helemaal zelf. </p>
        </div>
        <div class="col-lg-3 offset-lg-1 why-choose">
            <h5 class="text-center">Geen peperdure theoriecursussen!
            </h5>
            <div class="mt-3 d-flex justify-content-center">
                <img src="../assets/img/clock.png" alt="">
            </div>
            <p class="mt-3">Geen lange cursusdagen. Bekijk de video’s wanneer het jou uitkomt. Doe dit in de bus, tijdens jouw pauze, als je op de trein wacht of zelfs tijdens het toiletbezoek. </p>
        </div>

    </div>

    <div class="row mt-5">
        <h3 class="title-video text-center mb-4">Ieder mens is uniek</h3>

        <div class="accordion col-lg-8 offset-lg-2 col-md-12 col-sm-12  uniq" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <p><i class="fas fa-check"></i> Bekijk de video’s die jij wilt bekijken </p>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Een lange video of juist een korte video? Een video over een bepaalde onderwerp die de beste recensies heeft? Of heb je een favoriete uploader? Jij bepaalt welke video’s jij wilt bekijken
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p><i class="fas fa-check"></i> Bepaal de volgorde van de hoofdstukken en/of onderwerpen</p>
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well
                        as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                        the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <p><i class="fas fa-check"></i> Pauzeer, spoel terug, stop of bekijk de video’s opnieuw</p>
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well
                        as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                        the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10 offset-lg-1  mt-5">

            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="mr-3">
                        <img src="../assets/img/seo.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7 ">
                    <h3 class="title-video text-center mb-4">Kwaliteit</h3>
                    <p class="">Om kwaliteit te garanderen, worden de video’s die door rijscholen en rijinstructeurs worden geüpload eerst gecontroleerd. Wanneer de informatie en/of uitleg klopt, dan wordt de video bekeken en goedgekeurd. Zonder goedkeuring kan de
                        video niet geplaatst worden. </p>
                </div>

            </div>
        </div>

        <div class="col-lg-10 offset-lg-1  mt-5">

            <div class="row">
                <div class="col-lg-4 col-lg-4 d-flex justify-content-center">
                    <div class="mr-3">
                        <img src="../assets/img/prime-time (1).png" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <h3 class="title-video text-center mb-4">100% korting</h3>
                    <p class="">Tegen een vergoeding van maximaal 9,99 krijg je toegang tot TheorieTube. Dit is gemiddeld 140 euro goedkoper dan een theoriecursus. Bereken jouw reiskosten van huis naar de cursus en terug en je zit al tegen of voorbij de 100% korting.
                        Dat geld kun je benutten door er rijlessen mee te betalen. Daarnaast hoef je niet een dag of weekend vrij te nemen om een theoriecursus bij te wonen. Je kunt gewoon lekker blijven bijverdienen</p>
                </div>

            </div>
        </div>

    </div>

    <div class="row mt-5">

        <h3 class="title-video text-center mb-4">Wordt dit jouw auto?</h3>
        <div class="col-lg-6 offset-lg-3">
            <p class="text-center"> Slaag jij de eerste keer? Dan maak je kans op een gloednieuwe auto! Iedereen die meedoet met de online theoriecursus van TheorieTube en de eerste keer slaagt maakt kans op een gloednieuwe auto. Lees hier hoe het precies werkt.</p>
        </div>
        <div class="col-lg-8 offset-lg-2">

            <img width="auto" height="500" src="../assets/img/8297705-gift-car-and-red-ribbon-done-in-3d-isolated-.jpg" class="img-fluid" alt="...">
        </div>
    </div>

    <div class="row mt-5">
        <h3 class="title-video text-center mb-4">Wat past er bij jou?</h3>

        <div class="pricing-table">
            <div class="ptable-item">
                <div class="ptable-single">
                    <div class="ptable-header">
                        <div class="ptable-title">
                            <h2>9,99 1 WEEK</h2>
                        </div>
                        <div class="ptable-price">
                            <h2><small>$</small>99<span>/ M</span></h2>
                        </div>
                    </div>
                    <div class="ptable-body">
                        <div class="ptable-description">

                            <ul>
                                <li>Online Theoriecursus</li>
                                <li>Uitlegvideo’s</li>
                                <li>2 oefenexamens</li>
                                <li>Samenvatting</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ptable-footer">
                        <div class="ptable-action">
                            <a href="">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptable-item featured-item">
                <div class="ptable-single">
                    <div class="ptable-header">
                        <div class="ptable-status">
                            <span>Hot</span>
                        </div>
                        <div class="ptable-title">
                            <h2>16,99 2 WEKEN</h2>
                        </div>
                        <div class="ptable-price">
                            <h2><small>$</small>199<span>/ M</span></h2>
                        </div>
                    </div>
                    <div class="ptable-body">
                        <div class="ptable-description">
                            <ul>
                                <li>Online Theoriecursus</li>
                                <li>Uitlegvideo’s</li>
                                <li>2 oefenexamens</li>
                                <li>Samenvatting</li>

                                <li>2 oefenexamens</li>
                                <li>Verkeersbordentraining</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ptable-footer">
                        <div class="ptable-action">
                            <a href="">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptable-item">
                <div class="ptable-single">
                    <div class="ptable-header">
                        <div class="ptable-title">
                            <h2>39,99 30 DAGEN</h2>
                        </div>
                        <div class="ptable-price">
                            <h2><small>$</small>299<span>/ M</span></h2>
                        </div>
                    </div>
                    <div class="ptable-body">
                        <div class="ptable-description">
                            <ul>
                                <li>Online Theoriecursus</li>
                                <li>Uitlegvideo’s</li>
                                <li>2 oefenexamens</li>
                                <li>Samenvatting</li>

                                <li>2 oefenexamens</li>
                                <li>Verkeersbordentraining</li>
                                <li>In 1 keer geslaagd? Dan kom je in aanmerking voor een gloednieuwe VW</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ptable-footer">
                        <div class="ptable-action">
                            <a href="">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row mt-5">
            <div style="height: 50px;"></div>
        </div>







    </div>
</div>


<footer class="footer-area footer--light">
    <div class="footer-big">
        <!-- start .container -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="footer-widget">
                        <div class="widget-about">
                            <img src="http://placehold.it/250x80" alt="" class="img-fluid">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iure vero</p>
                            <ul class="contact-details">
                                <li>
                                    <span class="icon-earphones"></span> Call Us:
                                    <a href="">000-000-000</a>
                                </li>
                                <li>
                                    <span class="icon-envelope-open"></span>
                                    <a href="mailto:support@aazztech.com">support@theoryTube.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-md-4 -->
                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <div class="footer-menu footer-menu--1">
                            <h4 class="footer-widget-title">Popular Category</h4>
                            <ul>
                                <li>
                                    <a href="#">Wordpress</a>
                                </li>
                                <li>
                                    <a href="#">Plugins</a>
                                </li>
                                <li>
                                    <a href="#">Joomla Template</a>
                                </li>
                                <li>
                                    <a href="#">Admin Template</a>
                                </li>
                                <li>
                                    <a href="#">HTML Template</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-md-3 -->

                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h4 class="footer-widget-title">Our Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">How It Works</a>
                                </li>
                                <li>
                                    <a href="#">Affiliates</a>
                                </li>
                                <li>
                                    <a href="#">Testimonials</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Plan &amp; Pricing</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-lg-3 -->

                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <div class="footer-menu no-padding">
                            <h4 class="footer-widget-title">Help Support</h4>
                            <ul>
                                <li>
                                    <a href="#">Support Forum</a>
                                </li>
                                <li>
                                    <a href="#">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Support Policy</a>
                                </li>
                                <li>
                                    <a href="#">Refund Policy</a>
                                </li>
                                <li>
                                    <a href="#">FAQs</a>
                                </li>
                                <li>
                                    <a href="#">Buyers Faq</a>
                                </li>
                                <li>
                                    <a href="#">Sellers Faq</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- Ends: .col-lg-3 -->

            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->

    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>© 2021
                            <a href="#">AKKAR</a>. All rights reserved. Created by
                            <a href="#">AKKAR</a>
                        </p>
                    </div>

                    <!-- <div class="go_top">
                        <span class="icon-arrow-up"></span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>